body {
  background: beige;
}

.icons {
  background: grey;
  height: 60px;
  border: 1px solid red;
}
.main-logo {
  background: grey;
  height: 185px;
  border: 1px solid red;
  font-size: 50px;
  font-family: 'Noto Sans KR', sans-serif;
}
.item-01 {
  background: grey;
  height: 438px;
  border: 1px solid red;
  font-family: 'Roboto', sans-serif;
}
.item-02 {
  background: grey;
  height: 438px;
  border: 1px solid red;
}
.item-03 {
  background: grey;
  height: 438px;
  border: 1px solid red;
}
